#comment{
    width: 650px;
    margin-left: 235px;
    margin-top: 40px;
    border: 1px solid #acacac;
    background-color: #ebf1ed;
    box-shadow: 1px 1px 10px #acacac;
    padding-left: 15px;
    p.title{
        margin-top: 20px;
        font-size: large;
        padding-bottom: 15px;
    }
    .name{
        width: 260px;
        margin-right: 40px;
        display: inline-block;
    }
    .email{
        display: inline-block;
        width: 300px;
    }
    .textarea{
        width: 604px;
        margin-top: 15px;
    }
    .yanzheng{
        display: flex;
        margin-top: 15px;
        align-items: center;
        .verification{
            width: 200px;
        }
        .captcha{
            svg{
                height: 40px;
            }
        }
    }
    .btns{
        margin-top: 15px;
        margin-bottom: 10px;
    }
}